.container1 {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  .card01 {
    width: 50%;
    height: 70%;
    margin: auto 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;

    .eagles01 {
      width: 20%;
    }

    .text01 {
      font-size: 35px;
    }
  }
}

.container02 {
  display: flex;
  background-color: #000000;
  width: 100%;
  height: 50vh;
  justify-content: center;

  .container02-title {
    width: 50%;
    height: 70%;
    margin: auto 20px;
    padding: 45px;
    gap: 40px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: #ffffff;
      font-size: 40px;
    }

    .header-email {
      display: contents;
    }

    .email {
      width: 80%;
      padding: 15px 20px;
      border-radius: 20px;
      border: solid 1px rgb(255, 255, 255);
      font-size: 20px;
    }
  }
}
