body {
  background-color: aliceblue;
}

.comp-cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #dac521;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.buttons {
  display: inline-flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 40px;
  align-items: center;
  text-align: center;
  margin-left: 620px;
}

.button {
  background-color: black;
  border-radius: 1000px;
  color: white;
  width: 200px;
  height: 40px;
}

.button-navigator {
  background-color: black;
  color: white;
  border-radius: 1000px;
  width: 200px;
  height: 40px;
}

.eagles {
  position: absolute;
  margin-top: -300px;
  left: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
