* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.secao {
  background-color: #d4ac1b;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 100px;
 
  .header-logo{ 
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    .eagles {
    height: 90px;
    width: 140px;

  }
  h2{
    margin: auto 0px;
  }
  .header-search{
    display: flex;
    gap: 15px;
    margin: auto;
  .search{
    padding: 10px 20px;
    border-radius: 20px;
    width: 400px;
    border: solid 1px black;
    }
    .icon-search{
      position: relative;
      right: 40px;
      top: 7px;
      width: 22px;
    }

    .button-enter{
      
      display: flex;
      background-color: #ffffff;
      gap: 10px;
      padding: 10px;
      height: 40px;
      border-radius: 14px;
      border: solid 1px black;
      cursor: pointer;

      &:hover{
        background-color: #D9D9D9;
        transition: 0.5s;
        
      }
      
     
    }
  }

  }
  
  .header-icons{
   
    display: flex;
    gap: 20px;

    .icon{
      width: 25px;
      cursor: pointer;
      
    }

  }
 
}
.container{

  .CapaEaglese{
    width: 100%;
    
  }

}


.secao2{

  .shoes02{
   width: 100%;
   
}
}
.container02{
  background-color: aqua;
  display: flex;
  gap: 64px;
  width: 100%;
  
 
  
  img{  
width: 400px;
justify-content: center;
position: relative;
padding: 50px;
left: 11%;
top: -680px;


  }
}
.texto{
  background-color: #d41b1b;
  display: flex;
  gap: 240px;
  justify-content: center;
  margin-top: -660px;
  line-height: 160%;

p{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:smaller;
  color: rgb(61, 61, 61);

}
.Pre{
  color: #6d6c6c;
  font-size: smaller;

 }
}

.secao3{
position:relative;
top: 279px;
  
.pro{
  width: 100%;
  
}
.comp{

  color: white;
  position:absolute;
  cursor: pointer;
  background-color: #0097B2;
 
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  padding: 10px 80px;
  border-radius: 44px;
  width: 400px;
  height: 80px;
  left: 58%;
  top:77% ;

  &:hover{
    background-color: #a08a26;
    transition: 0.5s;
    
  }
  

 }
}

