.container2 {
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 1px 50px;

  .container2-title {
    width: 100%;
    padding: 20px;
    margin: 50px 10px;
    gap: 10px;
    text-align: justify;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 28px;
    }

    .link {
      position: relative;
      width: 60%;
      padding: 5px;
      font-size: 22px;
      text-decoration: none;
      color: rgb(20, 20, 20);
      border-radius: 5px;
    }
    .link:hover {
      cursor: pointer;
      background-color: #000000;
      transition: 0.5s;
      color: white;
    }

    p {
      font-size: 22px;
    }
  }
}
